<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/app/styles/main.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Abstraction</h1>
        <h5 class="text-center">Hiding the details and showing only the essentials in order to reduce complexity and increase efficiency.</h5>
        <p class="text-center">(Open console to manipulate and view results)</p>
    </div>
    <div class="main-img">
        <img src="/app/img/getset.jpg" alt="elevator code">
    </div>
    <div class="plr-40 mt-40">
        <div class="private card mt-20">
            <p class="pt-20"><u>Object.defineProperty:</u> Use this to add getters and setters to a private variable inside objects.</p>
        </div>
    </div>
    <script src="/app/js/intro/getset.js"></script>
</body>
</html>
